*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: rgb(155, 166, 228);
   
}


nav{
    flex: 1;
    text-align: right;
    font-size: 32px;

}

/*Adds text with the logo*/
.logo::after {
    position: relative;
    font-size: 32px;
    content: "I'm Michael";
    color: darkblue;
    left: 20px;

}

nav ul {
    display: inline-block;
    list-style: none;

}

nav ul li{
    display: inline-block;
    margin: 20px;
}

a {
    color: darkblue;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(142, 154, 224);

}

.section1 {
    background-color: rgb(155, 166, 228);
}

.section2 {
    background-color: rgb(165, 174, 230);
}

.section3 {
    background-color: rgb(170, 178, 228);
}

